body {background-color: #655D8A }
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%}

 h1 {color: #D885A3;}

 h2 {color:#D885A3 }
  h3 {color: #D885A3}
